.playlist{
    padding: 2rem 0;
    .playlist__content{
        position: relative;
        transition: 0.3s ease-out;
        will-change: transform;
        .playlist__container{
            display: flex;
            justify-content: space-between;
            padding:5rem 0;
            @media (max-width: 575.98px) {
                flex-wrap: wrap;
            }
            .playlist__sidebar{
                width: 20%;
                @media (max-width: 575.98px) {
                    width: 100%; 
                }
                @media (min-width: 576px) and (max-width: 991.98px) {
                    width: 27%; 
                }
                ul{
                    padding:2rem 0;
                    li{
                        padding: 0.5rem;
                        margin: 0.5rem;
                        border-radius: 0.3rem;
                        background-color: $secondary;
                        border-left: 1rem solid rgba(0, 0, 0, 0);
                        &:hover {
                            background-color: $primary;
                            border-left: 0.1rem solid $accent;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            a{
                                color: $accent;
                            }
                        }
                        @media (max-width: 575.98px) {
                            text-align: center;
                        }
                        a{
                            color: $primary;
                            display: block;
                        }
                    }
                }
            }
            .playlist__details{
                width: 80%;
                background-color: $accent;
                border-radius: 1.75rem;
                min-height: 45rem;
                @media (max-width: 575.98px) {
                    width: 100%;
                }
                @media (min-width: 576px) and (max-width: 991.98px) {
                    width: 73%;
                }
                .app__inside{
                    @include flexCenter;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    .app__single{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        margin: 2rem;
                        button{
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            img{
                                width: 7rem;
                                height: 7rem;
                            }
                            p{
                                color: black;
                            }
                        }
                    }
                }
                .modal__container{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    align-items: flex-end;
                    overflow: hidden;
                    transition: all .3s;
                    z-index: 999;
                    visibility: hidden;
                    opacity: 0;
                    min-height: 45rem;
                    background-color: $primary;
                    .modal__content{
                        position: relative;
                        background-color: $accent;
                        text-align: center;
                        padding: 3rem 2rem 2rem;
                        border-radius: 1rem 1rem 0 0;
                        transition: all .3s;
                        transform: translateY(10%);
                        @media screen and (min-width: 576px){
                            margin: auto;
                            width: 90%;
                            border-radius: 1.25rem;
                        }
                        .modal__close{
                            display: inline-flex;
                            border-radius: .25rem;
                            color: $primary;
                            font-size: 2.5rem;
                            position: absolute;
                            top: 2rem;
                            right: 3rem;
                            cursor: pointer;
                            h2{
                                color: black;
                            }
                        }
                        .content__details{
                            .content__logo{
                                @include flexCenter;
                                justify-content: flex-start;
                                img{
                                    width: 12rem;
                                }
                                .content__text{
                                    padding-left: 2rem;
                                    p{
                                        color: $primary;
                                        margin-bottom: 1rem;
                                        font-weight: 700;
                                    }
                                    a{
                                        button {
                                            width: 100%;
                                            padding: 1rem 1.25rem;
                                            border-radius: 0.5rem;
                                            border: none;
                                            transition: .3s;
                                            font-size: 1.25rem;
                                            font-weight: 500;
                                            cursor: pointer;
                                            background-color: $secondary;
                                            color: $primary;
                                            &:hover{
                                                background-color: $primary;
                                                color: $accent;
                                            }
                                        }
                                    }
                                }
                            }
                            .content__desc{
                                margin: 3rem 0;
                                text-align: left;
                                color: $primary;
                                h4, p{
                                    margin-bottom: 1rem;
                                }
                                h4{
                                    text-decoration: underline;
                                }
                                ul{
                                   @media (min-width: 576px) {
                                        display: flex;
                                        flex-wrap: wrap;
                                   }
                                   padding-bottom: 1rem;
                                    li{
                                        list-style: disc;
                                        margin-left: 3rem;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            .content__thumb{
                                img{
                                    width: 100%;
                                    border-radius: 0.3rem;
                                }
                            }
                        }
                    }
                    .content__extra{
                        display: none;
                        position: absolute;
                        top: 2rem;
                        right: 0;
                        transform: translateX(1.25rem);
                        transition: all .3s;
                        .extra__icon{
                            @include flexCenter;
                            flex-direction: column;
                            margin-bottom: 1.5rem;
                            img{
                                width: 4rem;
                                border-radius: 50%;
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
                .show-modal{
                    visibility: visible;
                    opacity: 1;
                    overflow: visible;
                    .modal__content{
                        transform: translateY(0);
                    }
                    .content__extra{
                        display: block;
                        @media (max-width: 991.98px) {
                            display: none;
                        }
                    }
                }
                .redirect{
                    position: absolute;
                    color: $accent;
                    bottom: 0;
                    right: 0;
                    padding: 1rem;
                    padding-right: 2rem;
                }
            }
        }
    }
}